<template class="template template--card--resume-database-card">
  <div class="vacancy-card vacancy-card--resume-database">
    <div class="vacancy-card__wrapper">
      <div class="vacancy-card__top">
        <div class="vacancy-card__actions">
          <button
            class="vacancy-button vacancy-button--edit"
            title="Редактировать карточку кандидата"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="21"
              height="21"
              viewBox="0 0 21 21"
              fill="none"
            >
              <path
                d="M15.9813 1.6895C16.4228 1.24802 17.0216 1 17.6459 1C17.9551 1 18.2612 1.06089 18.5468 1.17919C18.8324 1.2975 19.0919 1.4709 19.3105 1.6895C19.5291 1.90809 19.7025 2.16761 19.8208 2.45322C19.9391 2.73883 20 3.04494 20 3.35409C20 3.66323 19.9391 3.96935 19.8208 4.25496C19.7025 4.54057 19.5291 4.80008 19.3105 5.01868L5.43891 18.8903L1 20L2.10973 15.5611L15.9813 1.6895Z"
                stroke="#0066B6"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
          <button
            class="vacancy-button vacancy-button--to-resume"
            title="Резюме"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M12 17V11"
                stroke="#0066B6"
                stroke-width="1.5"
                stroke-linecap="round"
              />
              <circle
                cx="1"
                cy="1"
                r="1"
                transform="matrix(1 0 0 -1 11 9)"
                fill="#0066B6"
              />
              <path
                d="M3 12C3 7.75736 3 5.63604 4.31802 4.31802C5.63604 3 7.75736 3 12 3C16.2426 3 18.364 3 19.682 4.31802C21 5.63604 21 7.75736 21 12C21 16.2426 21 18.364 19.682 19.682C18.364 21 16.2426 21 12 21C7.75736 21 5.63604 21 4.31802 19.682C3 18.364 3 16.2426 3 12Z"
                stroke="#0066B6"
                stroke-width="1.5"
              />
            </svg>
          </button>
          <button
            class="vacancy-button vacancy-button--refuse"
            title="Удалить карточку"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M3 6H5H21"
                stroke="#D71920"
                stroke-width="1.8"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M8 6V4C8 3.46957 8.21071 2.96086 8.58579 2.58579C8.96086 2.21071 9.46957 2 10 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V6M19 6V20C19 20.5304 18.7893 21.0391 18.4142 21.4142C18.0391 21.7893 17.5304 22 17 22H7C6.46957 22 5.96086 21.7893 5.58579 21.4142C5.21071 21.0391 5 20.5304 5 20V6H19Z"
                stroke="#D71920"
                stroke-width="1.8"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M10 11V17"
                stroke="#D71920"
                stroke-width="1.8"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M14 11V17"
                stroke="#D71920"
                stroke-width="1.8"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>
      </div>
      <div class="vacancy-card__bottom">
        <div class="vacancy-card__personal">
          <div class="vacancy-card__personal-avatar">
            <img
              src="https://service-ktir.dpc.tax.nalog.ru/photos/n7700-01-173.jpg"
              alt="Аватар"
            />
          </div>
          <div class="vacancy-card__personal-details">
            <p class="vacancy-card__personal-fullname">
              Захаров Андрей Алексеевич
            </p>
            <p class="vacancy-card__personal-age">30 лет</p>
          </div>
        </div>
        <div class="vacancy-card__about">
          <span class="vacancy-card__about-text">Вакансия:</span>
          <a class="vacancy-card__about-link">Backend-разработчик</a>
        </div>
        <div class="vacancy-card__address">
          <span class="vacancy-card__address-label"
            >Приоритетный адрес места работы</span
          >
          <span class="vacancy-card__address-value"
            >г. Москва, Походный проезд, 3с1</span
          >
        </div>
      </div>
    </div>
  </div>
</template>
