<template class="template template--card--vacancy">
  <a class="vacancy-card vacancy-card--main">
    <div class="vacancy-card__wrapper">
      <div class="vacancy-card__main">
        <div class="vacancy-card__date">
          <span class="vacancy-card__date-label">Дата публикации:</span>
          <span class="vacancy-card__date-value"></span>
        </div>
        <h2 class="vacancy-card__title"></h2>
        <div class="vacancy-card__addresses">
          <ul class="vacancy-card__addresses-list"></ul>
        </div>
      </div>
      <div class="vacancy-card__actions">
        <div class="vacancy-card__actions-hr">
          <span class="vacancy-card__actions-hr-label">Рекрутер:</span>
          <span class="vacancy-card__actions-hr-value"></span>
        </div>
      </div>
      <div class="vacancy-card__details">
        <div class="vacancy-card__details-salary"></div>
        <div class="vacancy-card__details-experience">
          <span class="vacancy-card__details-experience-label"
            >Требуемый опыт:</span
          >
          <span class="vacancy-card__details-experience-value"></span>
        </div>
        <div class="vacancy-card__details-metro">
          <ul class="vacancy-card__details-metro-list"></ul>
        </div>
      </div>
    </div>
  </a>
</template>
