<!DOCTYPE html>
<html class="page" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Интранет ФКУ "Налог-сервис"</title>
  </head>

  <body class="page__body">
    <div class="body-container">
      <%= require('html-loader!../components/header.html').default %>
      <main class="main">
        <section class="intro">
          <div class="intro__content">
            <div class="container">
              <h1 class="intro__title">Деятельность</h1>
            </div>
          </div>
        </section>
        <section class="function main-container">
          <ul class="function__list">
            <li class="function__item function__item--ekc">
              <div class="function__header">
                <a href="#" class="function__link">
                  <img
                    class="function__image"
                    width="100"
                    height="100"
                    src="<%=require('/src/assets/img/design/logos/111.jpg')%>"
                    alt="Логотип организации"
                  />
                </a>
                <h2 class="function__headline">
                  Единый Контакт-центр ФНС России (ЕКЦ ФНС России)
                </h2>
              </div>
              <div class="function__content">
                <p class="function__inner-list-title">Основные задачи:</p>
                <ul class="function__inner-list">
                  <li class="function__inner-item">
                    повышение доступности и качества оказываемых ФНС России
                    государственных услуг;
                  </li>
                  <li class="function__inner-item">
                    обеспечение информирования налогоплательщиков по вопросам
                    деятельности ФНС России;
                  </li>
                  <li class="function__inner-item">
                    обеспечение на постоянной основе мониторинга потребностей
                    налогоплательщиков, уровня их удовлетворенности
                    деятельностью ФНС России.
                  </li>
                </ul>
                <p class="function__description">
                  В 2011 Приказом руководителя ФНС России М.В. Мишустиным
                  утверждена Концепция создания Единого Контакт-центра ФНС
                  России.
                </p>
              </div>
            </li>
            <li class="function__item">
              <div class="function__header">
                <a href="#" class="function__link">
                  <img
                    class="function__image"
                    width="100"
                    height="100"
                    src="<%=require('/src/assets/img/design/logos/222.jpg')%>"
                    alt="Логотип организации"
                  />
                </a>
                <h2 class="function__headline">
                  Федеральная таможенная служба (ФТС)
                </h2>
              </div>
              <div class="function__content">
                <p class="function__title">
                  Обеспечивается информационное взаимодействие
                </p>
                <p class="function__description">
                  Протокол информационного взаимодействия между ФНС России и ФТС
                  России версии 1.2 от 28.06.2013 с учетом Дополнений и
                  изменений № 1 от 18.09.2018
                </p>
              </div>
            </li>
            <li class="function__item">
              <div class="function__header">
                <a href="#" class="function__link">
                  <img
                    class="function__image"
                    width="100"
                    height="100"
                    src="<%=require('/src/assets/img/design/logos/333.jpg')%>"
                    alt="Логотип организации"
                  />
                </a>
                <h2 class="function__headline">
                  Федеральная миграционная служба (ФМС)
                </h2>
              </div>
              <div class="function__content">
                <p class="function__title">
                  Обеспечивается информационное взаимодействие
                </p>
                <p class="function__description">
                  в рамках достигнутых соглашений в 2005 году.
                </p>
              </div>
            </li>
            <li class="function__item">
              <div class="function__header">
                <a href="#" class="function__link">
                  <img
                    class="function__image"
                    width="100"
                    height="100"
                    src="<%=require('/src/assets/img/design/logos/444.jpg')%>"
                    alt="Логотип организации"
                  />
                </a>
                <h2 class="function__headline">
                  Федеральная служба по регулированию алкогольного рынка (ФСРАР)
                </h2>
              </div>
              <div class="function__content">
                <p class="function__title">
                  Обеспечение информационного обмена
                </p>
                <p class="function__description">
                  осуществляется в соответствии с требованиями приказа ФНС России
                  от 15.11.2016 № ММВ-7-17/615@.
                </p>
              </div>
            </li>
            <li class="function__item">
              <div class="function__header">
                <a href="#" class="function__link">
                  <img
                    class="function__image"
                    width="100"
                    height="100"
                    src="<%=require('/src/assets/img/design/logos/555.jpg')%>"
                    alt="Логотип организации"
                  />
                </a>
                <h2 class="function__headline">Почта России</h2>
              </div>
              <div class="function__content">
                <p class="function__title">В котором мы играем ключевую роль</p>
                <p class="function__description">
                  Обеспечиваем печать, формирование, конвертование и подготовку
                  почтовых отправлений Налогоплательщикам.
                </p>
              </div>
            </li>
            <li class="function__item">
              <div class="function__header">
                <a href="#" class="function__link">
                  <img
                    class="function__image"
                    width="100"
                    height="100"
                    src="<%=require('/src/assets/img/design/logos/666.jpg')%>"
                    alt="Логотип организации"
                  />
                </a>
                <h2 class="function__headline">
                  Федеральный фонд обязательного медицинского страхования (ФОМС)
                </h2>
              </div>
              <div class="function__content">
                <p class="function__title">
                  Передача персонифицированных сведений о застрахованных лицах,
                  состоящих на учёте в качестве налогоплательщиков налога на
                  профессиональный доход
                </p>
                <p class="function__description">
                  Дополнительное соглашение № 1 от 04.09.2018 №
                  ММВ-23-11/13@/33/91/2018 к Соглашению об информационном
                  взаимодействии ФНС России и Федерального фонда обязательного
                  медицинского страхования от 30 ноября 2016 №
                  ММВ-23-11/28@/11-91-2016
                </p>
              </div>
            </li>
            <li class="function__item">
              <div class="function__header">
                <a href="#" class="function__link">
                  <img
                    class="function__image"
                    width="100"
                    height="100"
                    src="<%=require('/src/assets/img/design/logos/777.jpg')%>"
                    alt="Логотип организации"
                  />
                </a>
                <h2 class="function__headline">
                  Федеральное агентство морского и речного транспорта
                  (Росморречфлот)
                </h2>
              </div>
              <div class="function__content">
                <p class="function__title">
                  Обеспечение информационного обмена
                </p>
                <p class="function__description">
                  Форматно-логический контроль (ФЛК) определён соглашением
                  Росморречфлота и ФНС России от 23.12.2014 №
                  КС-40/12825/ММВ-23-11/18@. C 2023 года обмен осуществляется
                  посредством СМЭВ.
                </p>
              </div>
            </li>
            <li class="function__item">
              <div class="function__header">
                <a href="#" class="function__link">
                  <img
                    class="function__image"
                    width="100"
                    height="100"
                    src="<%=require('/src/assets/img/design/logos/888.jpg')%>"
                    alt="Логотип организации"
                  />
                </a>
                <h2 class="function__headline">
                  Федеральное агентство по недропользованию (РОСНЕДРА)
                </h2>
              </div>
              <div class="function__content">
                <p class="function__title">
                  Обработка сведений, поступающих от Роснедра о лицензиях и
                  осуществлении деятельности
                </p>
                <p class="function__description">Основание:</p>
                <p class="function__description">
                  Статья 345.1 Налогового кодекса Российской Федерации
                </p>
                <p class="function__description">
                  Приказ ФНС России от 27.02.2013 № ММВ-7-6/102@
                </p>
                <p class="function__description">
                  Приказ ФНС России от 08.11.2011 ЕД-4-3/18627@
                </p>
              </div>
            </li>
            <li class="function__item">
              <div class="function__header">
                <a href="#" class="function__link">
                  <img
                    class="function__image"
                    width="100"
                    height="100"
                    src="<%=require('/src/assets/img/design/logos/111.jpg')%>"
                    alt="Логотип организации"
                  />
                </a>
                <h2 class="function__headline">
                  Автоматизированная информационная система ФНС России (“АИС
                  Налог-3”)
                </h2>
              </div>
              <div class="function__content">
                <p class="function__title">
                  Обеспечение эксплуатации системотехнической инфраструктуры и
                  технического сопровождения
                </p>
                <p class="function__description">
                  Приказ ФНС России № ММВ-7-6/210@ от 25.05.2015 «О внесении
                  изменений в приказ ФНС России от 01.10.2014 № ММВ-7-12/517@»
                </p>
              </div>
            </li>
            <li class="function__item">
              <div class="function__header">
                <a href="#" class="function__link">
                  <img
                    class="function__image"
                    width="100"
                    height="100"
                    src="<%=require('/src/assets/img/design/logos/111.jpg')%>"
                    alt="Логотип организации"
                  />
                </a>
                <h2 class="function__headline">
                  Федеральная государственная информационная система
                  формирования и ведения Единого Федерального информационного
                  ресурса, содержащего сведения о населении Российской Федерации
                  (ФГИС «ЕРН»)
                </h2>
              </div>
              <div class="function__content">
                <p class="function__title">
                  Обеспечение эксплуатации системотехнической инфраструктуры и
                  технического сопровождения
                </p>
                <p class="function__description">
                  Приказ ФНС России от 01.10.2021 № БС-7-6/866@ «О вводе в
                  промышленную эксплуатацию»
                </p>
              </div>
            </li>
          </ul>
          <ul class="function__list">
            <li class="function__item">
              <div class="function__header">
                <a href="#" class="function__link">
                  <img
                    class="function__image"
                    width="100"
                    height="100"
                    src="<%=require('/src/assets/img/design/logos/213.jpg')%>"
                    alt="Логотип организации"
                  />
                </a>
                <h2 class="function__headline">
                  Федеральное агентство воздушного транспорта (РОСАВИА)
                </h2>
              </div>
              <div class="function__content">
                <p class="function__title">
                  Взаимодействие, в рамках которого обеспечивается информационный
                  обмен справочной информацией
                </p>
                <p class="function__description">
                  Письмо ФНC России от 18.12.2018 № БС-4-21/24642@ «Об изменении
                  порядка информационного обмена сведениями о воздушных судах и
                  об их владельцах» (приложение) с учетом положений совместного
                  приказа Росавиации и ФНС России от 14.12.2018 №
                  1056-П/ММВ-7-21/806@ «О внесении изменений в Порядок
                  информационного обмена в электронном виде сведениями о
                  воздушных судах и об их владельцах между Федеральным
                  агентством воздушного транспорта и Федеральной налоговой
                  службой, утвержденный приказом Федерального агентства
                  воздушного транспорта и Федеральной налоговой службы от
                  14.11.2013 № 760/ММВ-7-6/503@»
                </p>
              </div>
            </li>
            <li class="function__item">
              <div class="function__header">
                <a href="#" class="function__link">
                  <img
                    class="function__image"
                    width="100"
                    height="100"
                    src="<%=require('/src/assets/img/design/logos/999.jpg')%>"
                    alt="Логотип организации"
                  />
                </a>
                <h2 class="function__headline">
                  Федеральное агентство по рыболовству (Росрыболовство)
                </h2>
              </div>
              <div class="function__content">
                <p class="function__title">
                  Ежеквартальное предоставление сведений
                </p>
                <p class="function__description">
                  Приказ ФНС России от 03.08.2009 № ММ-7-6/395@. Об утверждении
                  Порядка предоставления Федеральному агентству по рыболовству
                  документированной информации для внесения в государственный
                  рыбохозяйственный реестр.
                </p>
              </div>
            </li>
            <li class="function__item">
              <div class="function__header">
                <a href="#" class="function__link">
                  <img
                    class="function__image"
                    width="100"
                    height="100"
                    src="<%=require('/src/assets/img/design/logos/9999.jpg')%>"
                    alt="Логотип организации"
                  />
                </a>
                <h2 class="function__headline">
                  Социальный фонд России (СФР)<br />
                  Пенсионный фонд России (ПФР)
                </h2>
              </div>
              <div class="function__content">
                <p class="function__title">
                  Приём, передача и обработка сведений, позволяющих государству
                  обеспечить социальную поддержку граждан
                </p>
                <p class="function__description">
                  Обработка сведений обеспечивается ФКУ «Налог-Сервис» ФНС
                  России в соответствии с приложением к приказу ФНС России от
                  31.12.2015 № АС-7-12/716@
                </p>
              </div>
            </li>
            <li class="function__item">
              <div class="function__header">
                <a href="#" class="function__link">
                  <img
                    class="function__image"
                    width="100"
                    height="100"
                    src="<%=require('/src/assets/img/design/logos/1111.jpg')%>"
                    alt="Логотип организации"
                  />
                </a>
                <h2 class="function__headline">
                  Министерство внутренних дел Российской Федерации (МВД России)
                </h2>
              </div>
              <div class="function__content">
                <p class="function__title">
                  Обеспечение информационного взаимодействия
                </p>
                <p class="function__description">
                  обеспечивается информационный обмен в электронном виде.
                </p>
              </div>
            </li>
            <li class="function__item">
              <div class="function__header">
                <a href="#" class="function__link">
                  <img
                    class="function__image"
                    width="100"
                    height="100"
                    src="<%=require('/src/assets/img/design/logos/2222.jpg')%>"
                    alt="Логотип организации"
                  />
                </a>
                <h2 class="function__headline">
                  Федеральная служба государственной статистики (РОССТАТ)
                </h2>
              </div>
              <div class="function__content">
                <p class="function__title">
                  Передача данных из государственного информационного ресурса
                  бухгалтерской (финансовой) отчётности (ГИР БО)
                </p>
                <p class="function__description">
                  Приказ Росстата и ФНС России от 02.04.2019 № 186/ММВ-7-1/165@
                  «О внесении дополнения в Приложение № 1 к приказу Федеральной
                  службы государственной статистики и Федеральной налоговой
                  службы от 18 января 2008 г. № 5/ММ-3-11/14@ «О
                  совершенствовании информационного взаимодействия Федеральной
                  службы государственной статистики и Федеральной налоговой
                  службы».
                </p>
              </div>
            </li>
            <li class="function__item">
              <div class="function__header">
                <a href="#" class="function__link">
                  <img
                    class="function__image"
                    width="100"
                    height="100"
                    src="<%=require('/src/assets/img/design/logos/3333.jpg')%>"
                    alt="Логотип организации"
                  />
                </a>
                <h2 class="function__headline">
                  Министерство Российской Федерации по делам гражданской
                  обороны, чрезвычайным ситуациям и ликвидации последствий
                  стихийных бедствий (МЧС России)
                </h2>
              </div>
              <div class="function__content">
                <p class="function__title">
                  Информационный обмен в электронном виде сведениями о
                  маломерных судах и об их владельцах
                </p>
                <p class="function__description">
                  Соглашение о взаимодействии и взаимном информационном обмене
                  МЧС России и ФНС России от 02.06.2011 № 2-4-38-8/ММВ-27-11/13
                </p>
              </div>
            </li>
            <li class="function__item">
              <div class="function__header">
                <a href="#" class="function__link">
                  <img
                    class="function__image"
                    width="100"
                    height="100"
                    src="<%=require('/src/assets/img/design/logos/4444.jpg')%>"
                    alt="Логотип организации"
                  />
                </a>
                <h2 class="function__headline">
                  Федеральная служба по финансовому мониторингу
                  (Росфинмониторинг)
                </h2>
              </div>
              <div class="function__content">
                <p class="function__title">
                  Передача сведений о физических лицах и об иностранных
                  организациях, поставленных на учёт в налоговый орган
                </p>
                <p class="function__description">
                  обеспечивается информационный обмен в электронном виде.
                </p>
              </div>
            </li>
            <li class="function__item">
              <div class="function__header">
                <a href="#" class="function__link">
                  <img
                    class="function__image"
                    width="100"
                    height="100"
                    src="<%=require('/src/assets/img/design/logos/5555.jpg')%>"
                    alt="Логотип организации"
                  />
                </a>
                <h2 class="function__headline">
                  Центральный банк Российской Федерации (Банк России)
                </h2>
              </div>
              <div class="function__content">
                <p class="function__title">
                  Взаимодействие с Банком России, обеспечивающее передачу
                  сведений в электронном виде
                </p>
                <p class="function__description">
                  Поручение ФНС России от 08.05.2020 № 6-3-04/0037@<br />
                  Поручение ФНС России от 17.06.2020 № 6-5-05/0019@,<br />Поручение
                  ФНС России от 25.03.2022 № 6-5-05/0066@.
                </p>
              </div>
            </li>
            <li class="function__item">
              <div class="function__header">
                <a href="#" class="function__link">
                  <img
                    class="function__image"
                    width="100"
                    height="100"
                    src="<%=require('/src/assets/img/design/logos/33333.jpg')%>"
                    alt="Логотип организации"
                  />
                </a>
                <h2 class="function__headline">
                  Федеральная государственная информационная система ведения
                  Единого Государственного реестра записей актов гражданского
                  состояния (ФГИС «ЕГР ЗАГС»)
                </h2>
              </div>
              <div class="function__content">
                <p class="function__title">
                  Обеспечение эксплуатации системотехнической инфраструктуры и
                  технического сопровождения
                </p>
                <p class="function__description">
                  Запуск ФГИС «ЕГР ЗАГС» осуществлён с 1 октября 2018 года.
                  Работа по техническому сопровозжению начата с 2015 года, в
                  соответствии с внесеными изменениями в Федеральный закон “Об
                  актах гражданского состояния” от 15.11.1997 № 143-ФЗ.
                </p>
              </div>
            </li>
          </ul>
        </section>
      </main>
      <%= require('html-loader!../components/footer.html').default %>
    </div>
  </body>
</html>
