<!DOCTYPE html>
<html class="page" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Интранет ФКУ "Налог-сервис"</title>
  </head>
  <body class="page__body">
    <div class="body-container">
      <%= require('html-loader!../components/header.html').default %>
      <main class="main">
        <div class="main__wrapper">
          <section class="error">
            <div class="error__wrapper">
              <h1 class="error__title">Ошибка 404</h1>
              <p class="error__description">
                Сервер не может найти данные согласно запросу. Запрашиваемый
                ресурс может быть доступен в будущем, что однако не гарантирует
                наличие прежнего содержания.
              </p>
              <p class="error__description">
                Сообщите об ошибке<br />
                по почте ekan@r77.service-nalog.ru<br />
                или по телефону 8(97)1711
              </p>
            </div>
            <img
              class="error__image"
              src="<%=require('/src/assets/img/error.png')%>"
              alt="Ошибка."
              width="392"
              height="375"
            />
          </section>
        </div>
      </main>
      <%= require('html-loader!../components/footer.html').default %>
    </div>
  </body>
</html>
