<!DOCTYPE html>
<html class="page" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интранет ФКУ "Налог-сервис"</title>
</head>
<body class="page__body">
    <div class="body-container">
      <%= require('html-loader!../components/header.html').default %>
        <main class="main">
            <div class="main__wrapper">
                <section class="error">
                    <div class="error__wrapper">
                    <h1 class="error__title">Ошибка на странице 500</h1>
                        <span class="error__description">Сообщите об ошибке по почте ekan@r77.service-nalog.ru или по телефону 8(97)1711</span>
                </section>
            </div>
        </main>
        <%= require('html-loader!../components/footer.html').default %>
      </div>
</body>
</html>
