<template class="template template--modal-edit">
  <div class="vacancy-modal-edit-container">
    <section class="vacancy-modal-edit">
      <div class="vacancy-modal-edit__wrapper">
        <header class="vacancy-modal-edit-header">
          <p class="vacancy-modal-edit-header__title">
            Добавить/редактировать<br />участников
          </p>
          <div class="vacancy-modal-edit-request">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              class="vacancy-modal-edit-request__icon"
            >
              <g opacity="0.7" clip-path="url(#clip0_2738_15252)">
                <path
                  d="M14.7992 14.8002L1.19922 14.8002"
                  stroke="#3B4255"
                  stroke-width="0.8"
                  stroke-linecap="round"
                ></path>
                <path
                  d="M11.3977 14.8002V3.9202C11.3977 2.63798 11.3977 1.99686 10.9993 1.59853C10.601 1.2002 9.95988 1.2002 8.67766 1.2002H7.31766C6.03544 1.2002 5.39433 1.2002 4.99599 1.59853C4.59766 1.99686 4.59766 2.63797 4.59766 3.9202V14.8002"
                  stroke="#3B4255"
                  stroke-width="0.8"
                ></path>
                <path
                  d="M14.1183 14.8003V7.66027C14.1183 6.70524 14.1183 6.22772 13.8891 5.8847C13.7899 5.7362 13.6624 5.6087 13.5139 5.50947C13.1708 5.28027 12.6933 5.28027 11.7383 5.28027"
                  stroke="#3B4255"
                  stroke-width="0.8"
                ></path>
                <path
                  d="M1.87891 14.8003V7.66027C1.87891 6.70524 1.87891 6.22772 2.10811 5.8847C2.20733 5.7362 2.33483 5.6087 2.48333 5.50947C2.82635 5.28027 3.30387 5.28027 4.25891 5.28027"
                  stroke="#3B4255"
                  stroke-width="0.8"
                ></path>
                <path
                  d="M8 14.8003V12.7603"
                  stroke="#3B4255"
                  stroke-width="0.8"
                  stroke-linecap="round"
                ></path>
                <path
                  d="M6.64062 3.24023H9.36063"
                  stroke="#3B4255"
                  stroke-width="0.8"
                  stroke-linecap="round"
                ></path>
                <path
                  d="M6.64062 5.28027H9.36063"
                  stroke="#3B4255"
                  stroke-width="0.8"
                  stroke-linecap="round"
                ></path>
                <path
                  d="M6.64062 7.32031H9.36063"
                  stroke="#3B4255"
                  stroke-width="0.8"
                  stroke-linecap="round"
                ></path>
                <path
                  d="M6.64062 9.36035H9.36063"
                  stroke="#3B4255"
                  stroke-width="0.8"
                  stroke-linecap="round"
                ></path>
              </g>
              <defs>
                <clipPath id="clip0_2738_15252">
                  <rect width="16" height="16" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
            <p class="vacancy-modal-edit-request__text">
              Заявка
              <span class="vacancy-modal-edit-request__number"></span>
            </p>
          </div>
        </header>
        <main class="vacancy-modal-edit-main">
          <div
            class="vacancy-modal-edit-main-items-container vacancy-modal-edit-main-items-container--main"
          >
            <p class="vacancy-modal-edit-main-items-container__title">
              Участники
            </p>
            <div
              class="vacancy-modal-edit-main-items vacancy-modal-edit-main-items--main"
            ></div>
          </div>
          <div
            class="vacancy-modal-edit-main-items-container vacancy-modal-edit-main-items-container--additional"
          >
            <p class="vacancy-modal-edit-main-items-container__title">
              Добавить участников
            </p>
            <div
              class="vacancy-modal-edit-main-items vacancy-modal-edit-main-items--additional"
            ></div>
            <button
              class="vacancy-form-button vacancy-form-button--additional vacancy-form-button--add-participant"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <path
                  d="M10 2V18M18 10L2 10"
                  stroke="#0066B3"
                  stroke-width="1.5"
                ></path>
              </svg>
              <span class="vacancy-form-button__label">Добавить еще</span>
            </button>
          </div>
        </main>
        <footer class="vacancy-modal-edit-footer">
          <button
            class="vacancy-form-button vacancy-form-button--save vacancy-form-button--primary"
          >
            Сохранить
          </button>
          <button
            class="vacancy-form-button vacancy-form-button--close vacancy-form-button--secondary"
          >
            Выйти без сохранения
          </button>
        </footer>
        <button class="vacancy-modal-button-close">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
          >
            <path
              d="M2 2L23.2132 23.2132"
              stroke="#0066B3"
              stroke-width="3"
              stroke-linecap="round"
            ></path>
            <path
              d="M23.2148 2L2.00164 23.2132"
              stroke="#0066B3"
              stroke-width="3"
              stroke-linecap="round"
            ></path>
          </svg>
        </button>
      </div>
    </section>
  </div>
</template>
