.vacancy-form-main {
  &__title {
    display: block;
    margin: 0;
    margin-bottom: 30px;
    margin-left: 40px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align-last: left;
  }
}
