.vacancy-resume-database-list-email {
  width: 185px;

  &__value {
    margin: 0;
    color: $color-blue-dark;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
}
