.vacancy-empty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  &__text {
    margin: 0;
    color: $color-dark-gray;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
  }
}
