.career {
  position: relative;
  top: -50px;
  margin: 0 auto;
  max-width: 1100px;
  text-align: left;
  background-color: #ffffff;
  padding: 100px;
}

.career__headline {
  font-size: 38px;
  margin: 0;
}

.career__filial {
  font-size: 24px;
  margin-bottom: 100px;
}

.career__content {
  margin-bottom: 50px;
}

.career__link {
  margin-bottom: 50px;
}
