.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(41, 42, 42, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 20;
  overflow: auto;
}

.modal__container {
  background-color: #ffffff;
  margin: auto;
  min-width: 1026px;
  padding: 50px;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 7%);
  max-height: 79vh;
  border-radius: 30px;
}

.modal__container:hover {
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
}

.modal__title {
  font-size: 38px;
  margin: 0;
  margin-bottom: 50px;
}

.modal__list-request {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  overflow-y: auto;
  max-height: 64vh;
}

.modal__fieldset {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 20px;
  background-color: #ffffff;
  border: none;
}

.modal__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}

.modal__adult {
  width: 100%;
}

.modal_wrapper-child {
  width: 100%;
}

.modal-inputs-flex {
  flex-wrap: nowrap;
}

.modal__button-child-wrapper {
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  margin-right: auto;
  margin-left: 20px;
}

.modal__button-child {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  border: none;
  color: #3b4256;
  background-color: transparent;
  display: flex;
  align-items: center;
  flex-direction: row;
  white-space: nowrap;
  margin-bottom: 30px;
  color: #0066b6;

  svg {
    flex-shrink: 0;
    margin-right: 5px;
  }
}

.modal__button-child:hover {
  cursor: pointer;
  color: #f15a22;
}

.modal__btn-wrapper {
  padding-top: 20px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  column-gap: 20px;

  button {
    flex-basis: 50%;
  }
}

.modal__extra {
  font-size: 14px;
  font-weight: 700;
}

.modal__input--radio {
  margin-right: 20px;
  border: none;
  outline: none;
}

.modal__input--radio:hover {
  border: none;
  outline: none;
}

.modal__input--radio:active {
  border: none;
  outline: none;
}

.modal__input--radio:focus {
  border: none;
  outline: none;
}

.modal__fieldset-radio {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.modal__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.modal__label-radio {
  display: flex;
  font-size: 14px;
  line-height: 1.2;
  padding-top: 3px;
  color: #3b4256;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

.modal__label-radio:hover .modal__radio-mark {
  border: 1px solid #f15a22;
}

.modal__radio-mark {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px dotted #3b4256;
}

.modal__input[type="radio"]:checked + .modal__radio-mark::before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  background-color: #f15a22;
}

.modal__radio-title {
  margin-right: 10px;
  padding-left: 40px;
}

.modal__btn-wrapper {
  padding-top: 20px;
  width: 100%;
  margin: 0 auto;
}

.modal__reject {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255, 0.95);
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 20;
}

.modal__reject-container {
  background-color: #ffffff;
  margin: auto;
  padding: 50px;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 7%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__reject-container:hover {
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
}

.modal__reject-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__reject-title {
  font-size: 32px;
  margin: 0;
  margin-bottom: 50px;
}

.modal__input--reject {
  font-size: 14px;
  margin-bottom: 10px;
  height: 150px;
}

.modal__reject-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin: 0 auto;
  column-gap: 20px;
}

.modal__input--comment {
  max-height: 50px;
}

.modal__edit {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255, 0.95);
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 20;
}

.modal__edit-container {
  background-color: #ffffff;
  position: fixed;
  max-height: min-content;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 800px;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 7%);
}

.modal__edit-container:hover {
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
}

.modal__phone {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255, 0.95);
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 2;
}

.modal__phone-container {
  background-color: #ffffff;
  margin: auto;
  max-width: 800px;
  padding: 50px;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 7%);
}

.modal__phone-container:hover {
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
}

.modal__phone-form {
  display: flex;
  flex-direction: column;
}

.modal__phone-title {
  font-size: 32px;
  margin: 0;
  margin-bottom: 50px;
}

.modal--close {
  display: none;
}

.modal__button--close-icon {
  position: absolute;
}

.modal__button--close-text {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 40px;
  margin: auto;
}

.modal__close-icon {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  min-width: 0;
  margin: auto;
  background-color: transparent;
  border: none;
}

.modal__close-icon::before {
  position: absolute;
  top: 17px;
  left: 6px;
  content: "";
  width: 30px;
  height: 3px;
  background-color: #000000;
  transform: rotate(-135deg);
  background-color: #0066b3;
}

.modal__close-icon::after {
  position: absolute;
  top: 17px;
  left: 6px;
  content: "";
  width: 30px;
  height: 3px;
  background-color: #000000;
  transform: rotate(135deg);
  background-color: #0066b3;
}

.modal__review {
  min-width: 40%;
}

.modal__textarea {
  max-height: 150px;
  margin-bottom: 10px;
}

.modal__message {
  margin-bottom: 30px;
}
