.status-color--order {
  background-color: #ffffff;
}

.status-color--ordered {
  background-color: #c4e0f0;
}

.status-color--approved {
  background-color: #eec9c9;
}

.status-color--return {
  background-color: #ebe4a4;
}

.status-color--closed {
  background-color: #e2f7df;
}
