.tab-section {
  width: 100%;
  background-color: #ffffff;
}

.tab-section__wrapper {
  display: flex;
  margin: 0 auto;
  // margin-bottom: 10px;
  max-width: 1300px;
  text-align: left;
}
