.version {
  margin-bottom: 50px;
}

.version__wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.version__title {
  text-align: left;
}

.version__list {
  text-align: left;
  padding: 0;
  margin: 0;
}
