.voit__description {
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: justify;
}

.voit__fieldset {
  border: 1px dotted #3b4256;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 50px;
}

.voit__legend {
  font-weight: 700;
}

.voit__list {
  list-style-type: none;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.voit__item {
  margin-bottom: 10px;
}

.voit__question {
  text-align: left;
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
}

.voit__label {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #8a8c8e;
  cursor: pointer;
  position: relative;
  padding-left: 40px;
}

.voit__title {
  font-size: 18px;
  padding-top: 3px;
}

.voit__label--text {
  justify-content: center;
  padding: 0;
}

.voit__label:hover .voit__mark {
  border: 1px solid #f15a22;
}

.voit__mark {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px dotted #3b4256;
}

.voit__input[type="radio"]:checked ~ .voit__mark::before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  background-color: #f15a22;
}

.voit__input--text {
  padding: 10px;
  border-radius: 10px;
  border: 1px dotted #3b4256;
}

.voit__input--text:active {
  border: 1px dotted #f15a22;
}

.voit__input--text:focus-visible {
  border: 1px dotted #f15a22;
  outline: 2px solid #f15a22;
}

.voit__submit {
  margin-bottom: 30px;
}
