.web-number {
  max-width: 1300px;
  padding: 10px;
  background-color: #d9d9d9;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: left;
}

.web-number__title {
  margin: 0;
  padding: 0;
}
