<template class="template template--card--draft">
  <div class="vacancy-card vacancy-card--draft">
    <div class="vacancy-card__wrapper">
      <div class="vacancy-card__main">
        <div class="vacancy-card-badge vacancy-card-badge--vacancy">
          Вакансия
        </div>
        <div class="vacancy-card__header">
          <h2 class="vacancy-card__title"></h2>
        </div>
      </div>
      <div class="vacancy-card__about">
        <div class="vacancy-card__date">
          <span class="vacancy-card__date-label">Дата создания:</span>
          <span class="vacancy-card__date-value"></span>
        </div>
        <div class="vacancy-card__applicant">
          <span class="vacancy-card__applicant-label">Заявитель:</span>
          <span class="vacancy-card__applicant-value"></span>
        </div>
      </div>
    </div>
  </div>
</template>
