<template class="template template-vacancy-details--salary">
  <p class="vacancy-details__salary-min">
    <span class="vacancy-details__salary-from">от</span>
    <span class="vacancy-details__salary-from-value"></span>
    <span class="vacancy-details__salary-currency">руб.</span>
    <span class="vacancy-details__salary-taxes"></span>
  </p>
  <p class="vacancy-details__salary-max">
    <span class="vacancy-details__salary-to">до</span>
    <span class="vacancy-details__salary-to-value"></span>
    <span class="vacancy-details__salary-currency">руб.</span>
    <span class="vacancy-details__salary-taxes"></span>
  </p>
  <p class="vacancy-details__salary-min-to-max">
    <span class="vacancy-details__salary-from">от</span>
    <span class="vacancy-details__salary-from-value"></span>
    <span class="vacancy-details__salary-to">до</span>
    <span class="vacancy-details__salary-to-value"></span>
    <span class="vacancy-details__salary-currency">руб.</span>
    <span class="vacancy-details__salary-taxes"></span>
  </p>
  <p class="vacancy-details__salary-by-agreement">
    <span class="vacancy-details__salary-title">Зарплата:</span>
    <span class="vacancy-details__salary-agreements-value"
      >По договоренности</span
    >
  </p>
</template>
