<template class="template template--card--request">
  <a class="vacancy-card vacancy-card--request">
    <div class="vacancy-card__wrapper">
      <div class="vacancy-card__main">
        <div class="vacancy-card__company">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            class="vacancy-card__company-icon"
          >
            <g opacity="0.7" clip-path="url(#clip0_5811_28938)">
              <path
                d="M14.7992 14.8003L1.19922 14.8003"
                stroke="#3B4255"
                stroke-width="0.8"
                stroke-linecap="round"
              />
              <path
                d="M11.3996 14.8002V3.9202C11.3996 2.63798 11.3996 1.99686 11.0013 1.59853C10.6029 1.2002 9.96183 1.2002 8.67961 1.2002H7.31961C6.03739 1.2002 5.39628 1.2002 4.99794 1.59853C4.59961 1.99686 4.59961 2.63797 4.59961 3.9202V14.8002"
                stroke="#3B4255"
                stroke-width="0.8"
              />
              <path
                d="M14.1183 14.8003V7.66027C14.1183 6.70524 14.1183 6.22772 13.8891 5.8847C13.7899 5.7362 13.6624 5.6087 13.5139 5.50947C13.1708 5.28027 12.6933 5.28027 11.7383 5.28027"
                stroke="#3B4255"
                stroke-width="0.8"
              />
              <path
                d="M1.87891 14.8003V7.66027C1.87891 6.70524 1.87891 6.22772 2.10811 5.8847C2.20733 5.7362 2.33483 5.6087 2.48333 5.50947C2.82635 5.28027 3.30387 5.28027 4.25891 5.28027"
                stroke="#3B4255"
                stroke-width="0.8"
              />
              <path
                d="M8 14.8003V12.7603"
                stroke="#3B4255"
                stroke-width="0.8"
                stroke-linecap="round"
              />
              <path
                d="M6.63867 3.24023H9.35867"
                stroke="#3B4255"
                stroke-width="0.8"
                stroke-linecap="round"
              />
              <path
                d="M6.63867 5.28027H9.35867"
                stroke="#3B4255"
                stroke-width="0.8"
                stroke-linecap="round"
              />
              <path
                d="M6.63867 7.32031H9.35867"
                stroke="#3B4255"
                stroke-width="0.8"
                stroke-linecap="round"
              />
              <path
                d="M6.63867 9.36035H9.35867"
                stroke="#3B4255"
                stroke-width="0.8"
                stroke-linecap="round"
              />
            </g>
            <defs>
              <clipPath id="clip0_5811_28938">
                <rect width="16" height="16" fill="white" />
              </clipPath>
            </defs>
          </svg>
          <p class="vacancy-card__company-value"></p>
        </div>
        <div class="vacancy-card__intro">
          <h3 class="vacancy-card__intro-title"></h3>
          <p class="vacancy-card__intro-status"></p>
        </div>
        <div class="vacancy-card__department">
          <p class="vacancy-card__department-text">Отдел:</p>
          <p class="vacancy-card__department-value"></p>
        </div>
      </div>
    </div>
  </a>
</template>
