.js-archive-display {
  display: flex;
}

.js-archive-nodisplay {
  display: none;
}

.js-display--table-row {
  display: table-row;
}

.js-edit-display {
  display: flex;
}

.js-edit-nodisplay {
  display: none;
}

.js-input {
  display: block;
}

.js-modal-display {
  display: flex;
}

.js-modal-nodisplay {
  display: none;
}

.js-nodisplay-news {
  display: none;
}

.js-noinput {
  display: none;
}

.js-opacity-0 {
  opacity: 0;
  z-index: -1;
}

.js-reset-hotel {
  cursor: pointer;
}

.js-reset-month {
  cursor: pointer;
}

.js-public-nodisplay {
  display: none;
}

.js-public-display {
  display: block;
}

.js-public-nodisplay {
  display: none;
}

.js-public-display {
  display: flex;
}

.js-nodisplay--request {
  display: none;
}

.js-displayflex {
  display: flex;
}

.js-sortdisplay {
  display: block;
}

.js-sortnodisplay {
  display: none;
}

.js-sortrownodisplay {
  transition: all ease 2s;
  display: none;
}

.js-phone-nodisplay {
  display: none;
}

.js-phone-display {
  display: flex;
}

.js-nodisplay {
  display: none;
}

.js-display {
  display: block;
}
