$color-blue: #0066b3;
$color-blue-addit: #006c9e;
$color-blue-dark: #3b4255;
$color-black: #000000;
$color-red: #d71920;
$color-orange: #f15a22;
$color-white: #ffffff;
$color-dark-gray: #8a8c8e;

$color-hover: #f15a22;

$anim: all 0.5s ease;
