<template class="template template-modal--approve-sheet">
  <div class="vacancy-modal-container">
    <div class="vacancy-modal vacancy-modal--approve-sheet">
      <div class="vacancy-modal__wrapper">
        <div class="vacancy-modal__header">
          <p class="vacancy-modal__title">Лист согласования</p>
          <div class="vacancy-modal__sono">
            <span class="vacancy-modal__sono-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
              >
                <g opacity="0.7" clip-path="url(#clip0_2421_14030)">
                  <path
                    d="M14.7992 14.8003L1.19922 14.8003"
                    stroke="#3B4255"
                    stroke-width="0.8"
                    stroke-linecap="round"
                  />
                  <path
                    d="M11.3977 14.8002V3.9202C11.3977 2.63798 11.3977 1.99686 10.9993 1.59853C10.601 1.2002 9.95988 1.2002 8.67766 1.2002H7.31766C6.03544 1.2002 5.39433 1.2002 4.99599 1.59853C4.59766 1.99686 4.59766 2.63797 4.59766 3.9202V14.8002"
                    stroke="#3B4255"
                    stroke-width="0.8"
                  />
                  <path
                    d="M14.1183 14.8003V7.66027C14.1183 6.70524 14.1183 6.22772 13.8891 5.8847C13.7899 5.7362 13.6624 5.6087 13.5139 5.50947C13.1708 5.28027 12.6933 5.28027 11.7383 5.28027"
                    stroke="#3B4255"
                    stroke-width="0.8"
                  />
                  <path
                    d="M1.87891 14.8003V7.66027C1.87891 6.70524 1.87891 6.22772 2.10811 5.8847C2.20733 5.7362 2.33483 5.6087 2.48333 5.50947C2.82635 5.28027 3.30387 5.28027 4.25891 5.28027"
                    stroke="#3B4255"
                    stroke-width="0.8"
                  />
                  <path
                    d="M8 14.8003V12.7603"
                    stroke="#3B4255"
                    stroke-width="0.8"
                    stroke-linecap="round"
                  />
                  <path
                    d="M6.64062 3.24023H9.36063"
                    stroke="#3B4255"
                    stroke-width="0.8"
                    stroke-linecap="round"
                  />
                  <path
                    d="M6.64062 5.28027H9.36063"
                    stroke="#3B4255"
                    stroke-width="0.8"
                    stroke-linecap="round"
                  />
                  <path
                    d="M6.64062 7.32031H9.36063"
                    stroke="#3B4255"
                    stroke-width="0.8"
                    stroke-linecap="round"
                  />
                  <path
                    d="M6.64062 9.36035H9.36063"
                    stroke="#3B4255"
                    stroke-width="0.8"
                    stroke-linecap="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_2421_14030">
                    <rect width="16" height="16" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </span>
            <div class="vacancy-modal__sono-text">
              <span class="vacancy-modal__sono-label">Заявка</span>
              <span class="vacancy-modal__sono-value">0000001</span>
            </div>
          </div>
        </div>
        <div class="vacancy-modal__main">
          <p class="vacancy-modal__main-title">Согласование заявки</p>
          <ul class="vacancy-modal__list vacancy-modal__list--approve">
            <li class="vacancy-modal__item vacancy-modal__item--approve">
              <div class="vacancy-modal__avatar">
                <img
                  src="https://service-ktir.dpc.tax.nalog.ru/photos/n7700-01-173.jpg"
                  alt="Аватар"
                />
              </div>
              <p class="vacancy-modal__fullname">
                Романьков Артем Александрович
              </p>
              <p class="vacancy-modal__position">Начальник отдела</p>
              <div class="vacancy-modal__actions">
                <p class="vacancy-modal__status vacancy-modal__status--approve">
                  Согласовано
                </p>
                <div
                  class="vacancy-modal__buttons vacancy-modal__buttons--variants vacancy-helpers-hidden"
                >
                  <button class="button vacancy-modal__button-approve">
                    Согласовать
                  </button>
                  <button class="button vacancy-modal__button-reject">
                    Отклонить
                  </button>
                </div>
                <div
                  class="vacancy-modal__buttons vacancy-modal__buttons--post-vacancy vacancy-helpers-hidden"
                >
                  <button class="button vacancy-modal__button-post-vacancy">
                    Разместить вакансию
                  </button>
                </div>
                <div
                  class="vacancy-modal__buttons vacancy-modal__buttons--close-vacancy vacancy-helpers-hidden"
                >
                  <button class="button vacancy-modal__button-close-vacancy">
                    Закрыть задачу
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <button class="vacancy-modal__close">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
          >
            <path
              d="M2 2L23.2132 23.2132"
              stroke="#0066B3"
              stroke-width="3"
              stroke-linecap="round"
            ></path>
            <path
              d="M23.2148 2L2.00164 23.2132"
              stroke="#0066B3"
              stroke-width="3"
              stroke-linecap="round"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</template>
