
<!DOCTYPE html>
<html class="page" lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Интранет ФКУ "Налог-сервис"</title>
</head>
<body class="page__body">
  <div class="body-container">
    <%= require('html-loader!../../components/header.html').default %>
    <main class="main">
      <div class="main__wrapper">
        <section class="intro">
          <div class="intro__content">
              <div class="container">
                <h1 class="intro__title">Приказ МИНФИН РОССИИ от 20.07.2011 № 267</h1>
                <section class="fku">
                  <div class="fku__wrapper">
                    <div class="fku__container">
                      <ul class="fku__list">
                        <li class="button-service">
                          <a
                            href="/section/documents.html"
                            class="button-service__link"
                          >
                            <div
                              class="button-service__link-wrapper-intro button-service__link-wrapper"
                            >
                              <svg
                                class="button-service__icon"
                                width="32px"
                                height="32px"
                                viewBox="0 0 32 32"
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                              >
                                <defs>
                                  <clipPath id="clip-suitcase">
                                    <rect width="32" height="32" />
                                  </clipPath>
                                </defs>
                                <g id="suitcase" clip-path="url(#clip-suitcase)">
                                  <g
                                    id="Group_3110"
                                    data-name="Group 3110"
                                    transform="translate(-364 -104)"
                                  >
                                    <g id="Group_3106" data-name="Group 3106">
                                      <g id="Group_3105" data-name="Group 3105">
                                        <g id="Group_3104" data-name="Group 3104">
                                          <path
                                            id="Path_3987"
                                            data-name="Path 3987"
                                            d="M391.458,112.927H368.542a3.5,3.5,0,0,0-3.5,3.5v13.1a3.5,3.5,0,0,0,3.5,3.5h22.916a3.5,3.5,0,0,0,3.5-3.5v-13.1A3.5,3.5,0,0,0,391.458,112.927Zm-22.916,2h22.916a1.5,1.5,0,0,1,1.5,1.5v2.232l-8.523,1.827a.989.989,0,0,0-.977-.886h-6.916a.989.989,0,0,0-.977.886l-8.523-1.827v-2.232A1.5,1.5,0,0,1,368.542,114.927Zm13.916,6.673v1.719h-4.916V121.6Zm9,9.429H368.542a1.5,1.5,0,0,1-1.483-1.331,2.4,2.4,0,0,0,1.225.344h21.125a.5.5,0,0,0,0-1H368.284a1.426,1.426,0,0,1-1.242-.735v-7.6l8.5,1.822v1.792a1,1,0,0,0,1,1h6.916a1,1,0,0,0,1-1v-1.792l8.5-1.822v8.824A1.5,1.5,0,0,1,391.458,131.029Z"
                                          />
                                        </g>
                                      </g>
                                    </g>
                                    <g id="Group_3109" data-name="Group 3109">
                                      <g id="Group_3108" data-name="Group 3108">
                                        <g id="Group_3107" data-name="Group 3107">
                                          <path
                                            id="Path_3988"
                                            data-name="Path 3988"
                                            d="M373.958,111.833a1,1,0,0,0,1-1v-1.6a1.266,1.266,0,0,1,1.265-1.264h7.554a1.266,1.266,0,0,1,1.265,1.264v1.6a1,1,0,0,0,2,0v-1.6a3.268,3.268,0,0,0-3.265-3.264h-7.554a3.268,3.268,0,0,0-3.265,3.264v1.6A1,1,0,0,0,373.958,111.833Z"
                                          />
                                        </g>
                                      </g>
                                    </g>
                                  </g>
                                </g>
                              </svg>
                              <span class="button-service__title"
                                >Уставные документы</span
                              >
                            </div>
                          </a>
                        </li>
                        <li class="button-service">
                          <a
                            href="/section/managements.html"
                            class="button-service__link"
                          >
                            <div
                              class="button-service__link-wrapper-intro button-service__link-wrapper"
                            >
                              <svg
                                class="button-service__icon"
                                width="32px"
                                height="32px"
                                viewBox="0 0 32 32"
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                              >
                                <defs>
                                  <clipPath id="clip-suitcase">
                                    <rect width="32" height="32" />
                                  </clipPath>
                                </defs>
                                <g id="suitcase" clip-path="url(#clip-suitcase)">
                                  <g
                                    id="Group_3110"
                                    data-name="Group 3110"
                                    transform="translate(-364 -104)"
                                  >
                                    <g id="Group_3106" data-name="Group 3106">
                                      <g id="Group_3105" data-name="Group 3105">
                                        <g id="Group_3104" data-name="Group 3104">
                                          <path
                                            id="Path_3987"
                                            data-name="Path 3987"
                                            d="M391.458,112.927H368.542a3.5,3.5,0,0,0-3.5,3.5v13.1a3.5,3.5,0,0,0,3.5,3.5h22.916a3.5,3.5,0,0,0,3.5-3.5v-13.1A3.5,3.5,0,0,0,391.458,112.927Zm-22.916,2h22.916a1.5,1.5,0,0,1,1.5,1.5v2.232l-8.523,1.827a.989.989,0,0,0-.977-.886h-6.916a.989.989,0,0,0-.977.886l-8.523-1.827v-2.232A1.5,1.5,0,0,1,368.542,114.927Zm13.916,6.673v1.719h-4.916V121.6Zm9,9.429H368.542a1.5,1.5,0,0,1-1.483-1.331,2.4,2.4,0,0,0,1.225.344h21.125a.5.5,0,0,0,0-1H368.284a1.426,1.426,0,0,1-1.242-.735v-7.6l8.5,1.822v1.792a1,1,0,0,0,1,1h6.916a1,1,0,0,0,1-1v-1.792l8.5-1.822v8.824A1.5,1.5,0,0,1,391.458,131.029Z"
                                          />
                                        </g>
                                      </g>
                                    </g>
                                    <g id="Group_3109" data-name="Group 3109">
                                      <g id="Group_3108" data-name="Group 3108">
                                        <g id="Group_3107" data-name="Group 3107">
                                          <path
                                            id="Path_3988"
                                            data-name="Path 3988"
                                            d="M373.958,111.833a1,1,0,0,0,1-1v-1.6a1.266,1.266,0,0,1,1.265-1.264h7.554a1.266,1.266,0,0,1,1.265,1.264v1.6a1,1,0,0,0,2,0v-1.6a3.268,3.268,0,0,0-3.265-3.264h-7.554a3.268,3.268,0,0,0-3.265,3.264v1.6A1,1,0,0,0,373.958,111.833Z"
                                          />
                                        </g>
                                      </g>
                                    </g>
                                  </g>
                                </g>
                              </svg>
                              <span class="button-service__title">Руководство</span>
                            </div>
                          </a>
                        </li>
                        <li class="button-service">
                          <a
                            href="/section/structure.html"
                            class="button-service__link"
                          >
                            <div
                              class="button-service__link-wrapper-intro button-service__link-wrapper"
                            >
                              <svg
                                class="button-service__icon"
                                width="32px"
                                height="32px"
                                viewBox="0 0 32 32"
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                              >
                                <defs>
                                  <clipPath id="clip-suitcase">
                                    <rect width="32" height="32" />
                                  </clipPath>
                                </defs>
                                <g id="suitcase" clip-path="url(#clip-suitcase)">
                                  <g
                                    id="Group_3110"
                                    data-name="Group 3110"
                                    transform="translate(-364 -104)"
                                  >
                                    <g id="Group_3106" data-name="Group 3106">
                                      <g id="Group_3105" data-name="Group 3105">
                                        <g id="Group_3104" data-name="Group 3104">
                                          <path
                                            id="Path_3987"
                                            data-name="Path 3987"
                                            d="M391.458,112.927H368.542a3.5,3.5,0,0,0-3.5,3.5v13.1a3.5,3.5,0,0,0,3.5,3.5h22.916a3.5,3.5,0,0,0,3.5-3.5v-13.1A3.5,3.5,0,0,0,391.458,112.927Zm-22.916,2h22.916a1.5,1.5,0,0,1,1.5,1.5v2.232l-8.523,1.827a.989.989,0,0,0-.977-.886h-6.916a.989.989,0,0,0-.977.886l-8.523-1.827v-2.232A1.5,1.5,0,0,1,368.542,114.927Zm13.916,6.673v1.719h-4.916V121.6Zm9,9.429H368.542a1.5,1.5,0,0,1-1.483-1.331,2.4,2.4,0,0,0,1.225.344h21.125a.5.5,0,0,0,0-1H368.284a1.426,1.426,0,0,1-1.242-.735v-7.6l8.5,1.822v1.792a1,1,0,0,0,1,1h6.916a1,1,0,0,0,1-1v-1.792l8.5-1.822v8.824A1.5,1.5,0,0,1,391.458,131.029Z"
                                          />
                                        </g>
                                      </g>
                                    </g>
                                    <g id="Group_3109" data-name="Group 3109">
                                      <g id="Group_3108" data-name="Group 3108">
                                        <g id="Group_3107" data-name="Group 3107">
                                          <path
                                            id="Path_3988"
                                            data-name="Path 3988"
                                            d="M373.958,111.833a1,1,0,0,0,1-1v-1.6a1.266,1.266,0,0,1,1.265-1.264h7.554a1.266,1.266,0,0,1,1.265,1.264v1.6a1,1,0,0,0,2,0v-1.6a3.268,3.268,0,0,0-3.265-3.264h-7.554a3.268,3.268,0,0,0-3.265,3.264v1.6A1,1,0,0,0,373.958,111.833Z"
                                          />
                                        </g>
                                      </g>
                                    </g>
                                  </g>
                                </g>
                              </svg>
                              <span class="button-service__title">Подразделения</span>
                            </div>
                          </a>
                        </li>
                        <li class="button-service">
                          <a href="/section/filials.html" class="button-service__link">
                            <div
                              class="button-service__link-wrapper-intro button-service__link-wrapper"
                            >
                              <svg
                                class="button-service__icon"
                                width="32px"
                                height="32px"
                                viewBox="0 0 32 32"
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                              >
                                <defs>
                                  <clipPath id="clip-suitcase">
                                    <rect width="32" height="32" />
                                  </clipPath>
                                </defs>
                                <g id="suitcase" clip-path="url(#clip-suitcase)">
                                  <g
                                    id="Group_3110"
                                    data-name="Group 3110"
                                    transform="translate(-364 -104)"
                                  >
                                    <g id="Group_3106" data-name="Group 3106">
                                      <g id="Group_3105" data-name="Group 3105">
                                        <g id="Group_3104" data-name="Group 3104">
                                          <path
                                            id="Path_3987"
                                            data-name="Path 3987"
                                            d="M391.458,112.927H368.542a3.5,3.5,0,0,0-3.5,3.5v13.1a3.5,3.5,0,0,0,3.5,3.5h22.916a3.5,3.5,0,0,0,3.5-3.5v-13.1A3.5,3.5,0,0,0,391.458,112.927Zm-22.916,2h22.916a1.5,1.5,0,0,1,1.5,1.5v2.232l-8.523,1.827a.989.989,0,0,0-.977-.886h-6.916a.989.989,0,0,0-.977.886l-8.523-1.827v-2.232A1.5,1.5,0,0,1,368.542,114.927Zm13.916,6.673v1.719h-4.916V121.6Zm9,9.429H368.542a1.5,1.5,0,0,1-1.483-1.331,2.4,2.4,0,0,0,1.225.344h21.125a.5.5,0,0,0,0-1H368.284a1.426,1.426,0,0,1-1.242-.735v-7.6l8.5,1.822v1.792a1,1,0,0,0,1,1h6.916a1,1,0,0,0,1-1v-1.792l8.5-1.822v8.824A1.5,1.5,0,0,1,391.458,131.029Z"
                                          />
                                        </g>
                                      </g>
                                    </g>
                                    <g id="Group_3109" data-name="Group 3109">
                                      <g id="Group_3108" data-name="Group 3108">
                                        <g id="Group_3107" data-name="Group 3107">
                                          <path
                                            id="Path_3988"
                                            data-name="Path 3988"
                                            d="M373.958,111.833a1,1,0,0,0,1-1v-1.6a1.266,1.266,0,0,1,1.265-1.264h7.554a1.266,1.266,0,0,1,1.265,1.264v1.6a1,1,0,0,0,2,0v-1.6a3.268,3.268,0,0,0-3.265-3.264h-7.554a3.268,3.268,0,0,0-3.265,3.264v1.6A1,1,0,0,0,373.958,111.833Z"
                                          />
                                        </g>
                                      </g>
                                    </g>
                                  </g>
                                </g>
                              </svg>
                              <span class="button-service__title">Филиалы</span>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </section>
              </div>
          </div>

        </section>
        <section class="document">
          <div class="document__wrapper">
              <img class="draft__image" src="<%=require('/src/assets/img/documents/03.jpg')%>" alt="Герб" width="128" height="128">
              <h2 class="document__title">МИНИСТЕРСТВО ФИНАНСОВ РОССИЙСКОЙ ФЕДЕРАЦИИ </h2>

              <p class="document__title">(МИНФИН РОССИИ)</p>

              <span class="document__type">ПРИКАЗ</span>
              <div class="document__headline">
                  <span class="document__date">20.07.2011</span>
                  <span class="document__number">№267</span>
              </div>
              <span class="document__city">Москва</span>
              <h3 class="document__subtitle">О федеральном бюджетном учреждении «Налог-Сервис»
                  Федеральной налоговой службы
              </h3>
              <p class="document__paragraph">B&nbsp;целях совершенствования организационно-технического и
                  информационного обеспечения деятельности ФНС России и&nbsp;ее&nbsp;территориальных органов,
                  приказываю:
              </p>
              <p class="document__paragraph">1. Переименовать Федеральное бюджетное образовательное учреждение
                  дополнительного профессионального образования «Учебный центр по&nbsp;информатизации
                  Федеральной налоговой службы», г. Обнинск, Калужская область в&nbsp;Федеральное бюджетное
                  учреждение «Налог-Сервис» Федеральной налоговой службы, определив, что предметом
                  и&nbsp;целями деятельности данного учреждения являются организационно-техническое
                  и&nbsp;информационное обеспечение деятельности ФНС России и&nbsp;ее&nbsp;территориальных
                  органов, а&nbsp;также осуществление дополнительного профессионального образования федеральных
                  государственных гражданских служащих системы налоговых органов Российской Федерации.</p>
              <p class="document__paragraph">2.ФНС России:</p>
              <p class="document__paragraph">осуществлять функции и&nbsp;полномочия учредителя федерального
                  бюджетного учреждения, указанного в&nbsp;пункте 1&nbsp;настоящего приказа;</p>
              <p class="document__paragraph">обеспечить в&nbsp;месячный срок внесение изменений в&nbsp;устав
                  федерального бюджетного учреждения, указанного в&nbsp;пункте 1&nbsp;настоящего приказа,
                  и&nbsp;осуществить в&nbsp;3-месячный срок иные необходимые мероприятия, связанные
                  с&nbsp;реализацией пункта 1&nbsp;настоящего приказа, в&nbsp;пределах бюджетных ассигнований
                  федерального бюджета, предусмотренных ФНС России в&nbsp;2011 году на&nbsp;руководство
                  и&nbsp;управление в&nbsp;сфере установленных функций и&nbsp;обеспечение деятельности
                  федерального бюджетного учреждения, указанного в&nbsp;пункте 1&nbsp;настоящего приказа, исходя
                  из&nbsp;того, что предельная численность работников данного федерального бюджетного учреждения
                  составляет 2215&nbsp;единиц.</p>
              <div class="document__footer">
                  <span class="document__position">Заместитель Председателя
                      Правительства Российской Федерации –
                      Министр финансов Российской Федерации
                  </span>
                  <span class="document__name">А.Л. Кудрин</span>
              </div>
          </div>
        </section>
      </div>
    </main>
    <%= require('html-loader!../../components/footer.html').default %>
  </div>
  <div class="photo photo__nodisplay">
    <div class="photo__content">
        <img src="" alt="Изображение документа" class="photo__image">
    </div>
  </div>
</body>

</html>
